/* CSS for the fixed navigation bar */

/* this is what makes it fill the viewport */
/* this was ommitted from the discussion, demos, and sample files */
html, body {
  height: 100%;
  margin: 0;
}

/* 4 sides */
/* top/bottom, left/right */
/* top, left/right, bottom */
/* top, right, bottom, left */

body {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: min-content 1fr auto;
  grid-template-areas: 
    "header header"
    "nav main"
    "footer footer";
}

.DocumentHeader {
  grid-area: header;
  height: 100%;
  border: 3px solid purple;
  position: sticky;
  top: 0;
  background-color: #333;
  color: white;
  padding: 0.5em;
  text-align: left;
  overflow: hidden;
  z-index: 1000;
}

.DocumentHeader a {
  color: white;
  margin-left: 1em;
  text-decoration: none;
}

.MainNavLeft {
  grid-area: nav;
  border: 3px solid blue;
  background-color: #666;
  color: white;
  padding: 0.5em;
  margin: 0;
  text-align: left;
  text-wrap: nowrap;
  /* overflow: hidden;  */
}

.MainNavLeft > h1,
.MainNavLeft > h2,
.MainNavLeft > h3,
.MainNavLeft > h4,
.MainNavLeft > h5,
.MainNavLeft > h6 {
  margin: 0.5em 0.1em;
}

.MainNavLeft a {
  display: block;
  color: white;
  padding: 0 0.5em 0.25em 1em;
  text-decoration: none;
}


main {
  grid-area: "main";
  border: 5px solid green;
  margin: 0;
  padding: 0;
  
  display: grid;
  grid-template-rows: auto 1fr;
}

.MainDataTitle { 
  border: 3px solid black;
  width: 100%;
  text-align: center;
}

.MainDataSection { 
  border: 3px solid lightcoral;
  background-color: lightgray;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
  /* how do we get this to work with this layout */
  grid-auto-flow: dense;            
  grid-auto-rows: max-content;
  grid-auto-columns: max-content; 
} 

article {
  border: 1px solid black;
  background-color: lightskyblue;
  margin: 0.5em;
  padding: 0.5em;
}

footer {
  grid-area: footer;
  border: 3px solid purple;
  background-color: #333;
  color: white;
  text-align: right;
}

footer > p {
  margin: 0;
  padding: 0.1em 0.5em;
  font-size: small;
}

.HeaderWithDescription {
  margin-bottom: 0.1em;
}

.HeaderDescription {
  margin-top: 0.1em;
  font-size: small;
}
