@keyframes sprites {
  0% {
    opacity: 1;
    background-position: -40px;
    left: 200px;
    width: 14px;
  }
  2% {
    background-position: -94px;
    left: 200px;
    width: 24px;
  }
  4% {
    background-position: -148px;
    left: 200px;
    width: 34px;
  }
  6% {
    background-position: -202px;
    left: 200px;
    width: 44px;
  }
  8% {
    background-position: -256px;
    left: 200px;
    width: 54px;
  }
  10% {
    background-position: -310px;
    left: 200px;
    width: 64px;
  }
  12% {
    background-position: -374px;
    left: 210px;
  }

  14% {
    background-position: 10px;
    left: 220px;
  }
  16% {
    background-position: -54px;
    left: 230px;
  }
  18% {
    background-position: -118px;
    left: 240px;
  }
  20% {
    background-position: -182px;
    left: 250px;
  }
  22% {
    background-position: -246px;
    left: 260px;
  }
  24% {
    background-position: -310px;
    left: 270px;
  }
  26% {
    background-position: -374px;
    left: 280px;
  }

  28% {
    background-position: 10px;
    left: 290px;
  }
  30% {
    background-position: -54px;
    left: 300px;
  }
  32% {
    background-position: -118px;
    left: 310px;
  }
  34% {
    background-position: -182px;
    left: 320px;
  }
  36% {
    background-position: -246px;
    left: 330px;
  }
  38% {
    background-position: -310px;
    left: 340px;
  }
  40% {
    background-position: -374px;
    left: 350px;
    width: 54px;
  }
  42% {
    background-position: 10px;
    left: 360px;
    width: 44px;
  }
  44% {
    background-attachment: -54px;
    left: 370px;
    width: 34px;
  }
  46% {
    background-position: -118;
    left: 380px;
    width: 24px;
  }
  48% {
    background-position: -182px;
    left: 390px;
    width: 14px;
  }

  50% {
    background-position: -38px;
    transform: rotateY(180deg);
    left: 390px;
    width: 14px;
  }
  52% {
    background-position: -92px;
    left: 380px;
    width: 24px;
  }
  54% {
    background-position: -146px;
    left: 370px;
    width: 34px;
  }
  56% {
    background-position: -200px;
    left: 360px;
    width: 44px;
  }
  58% {
    background-position: -254px;
    left: 350px;
    width: 54px;
  }
  60% {
    background-position: -308px;
    left: 340px;
    width: 64px;
  }
  62% {
    background-position: -372px;
    left: 330px;
  }

  64% {
    background-position: 10px;
    left: 320px;
  }
  66% {
    background-position: -54px;
    left: 310px;
  }
  68% {
    background-position: -118px;
    left: 300px;
  }
  70% {
    background-position: -182px;
    left: 290px;
  }
  72% {
    background-position: -246px;
    left: 280px;
  }
  74% {
    background-position: -310px;
    left: 270px;
  }
  76% {
    background-position: -374px;
    left: 260px;
  }

  78% {
    background-position: 10px;
    left: 250px;
  }
  80% {
    background-position: -54px;
    left: 240px;
  }
  82% {
    background-position: -118px;
    left: 230px;
  }
  84% {
    background-position: -182px;
    left: 220px;
  }
  86% {
    background-position: -246px;
    left: 210px;
  }
  88% {
    background-position: -310px;
    left: 200px;
  }
  90% {
    background-position: -364px;
    left: 200px;
    width: 54px;
  }

  92% {
    background-position: 20px;
    left: 200px;
    width: 44px;
  }
  94% {
    background-position: -44px;
    left: 200px;
    width: 34px;
  }
  96% {
    background-position: -108px;
    left: 200px;
    width: 24px;
  }
  98% {
    background-position: -172px;
    left: 200px;
    width: 14px;
  }
  100% {
    background-position: -236px;
    left: 200px;
    width: 4px;
  }
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(85deg);
  }
  26% {
    transform: rotateY(95deg);
  }
  75% {
    transform: rotateY(265deg);
  }
  76% {
    transform: rotateY(275deg);
  }
  to {
    transform: rotateY(359deg);
  }
}

@keyframes pathing {
  0% {
    opacity: 1;
    left: 450px;
    width: 128px;
  }
  33.3% {
    opacity: 1;
    left: 450px;
  }
  66.6% {
    opacity: 1;
    left: 450px;
  }
}

@keyframes run {
  0% {
    border: red 2px solid;
    opacity: 1;
    background-position: -0px;
    left: 0px;
    width: 64px;
  }
  14.3% {
    background-position: -64px;
    left: 9px;
  }
  28.6% {
    background-position: -128px;
    left: 18px;
  }
  42.9% {
    background-position: -192px;
    left: 27px;
  }
  57.2% {
    background-position: -256px;
    left: 37px;
  }
  71.5% {
    background-position: -320px;
    left: 46px;
  }
  85.8% {
    background-position: -384px;
    left: 55px;
  }
  99.9% {
    opacity: 0;
  }
}

@keyframes enter {
  0% {
    border: green 2px solid;
    opacity: 1;
    background-position: -64px;
    left: 0px;
    width: 0px;
  }
  14.3% {
    background-position: -55px;
    width: 9px;
  }
  28.6% {
    background-position: -46px;
    width: 18px;
  }
  42.9% {
    background-position: -37px;
    width: 27px;
  }
  57.2% {
    background-position: -27px;
    width: 37px;
  }
  71.5% {
    background-position: -18px;
    width: 46px;
  }
  85.8% {
    background-position: -9px;
    width: 55px;
  }
}

@keyframes exit {
    0% {
        border: blue 2px solid;
        opacity: 1;
        background-position: -0px;
        left: 64px;
        width: 64px;
    }
    14.3% {
        background-position: -64px;
        left: 73px;
        width: 55px;
    }    
    28.6% {
        background-position: -128px;
        left: 82px;
        width: 46px;
    }
    42.9% {
        background-position: -192px;
        left: 91px;
        width: 37px;
    }
    57.2% {
        background-position: -256px;
        left: 101px;
        width: 27px;
    }
    71.5% {
        background-position: -320px;
        left: 110px;
        width: 18px;
    }
    85.8% {
        background-position: -384px;
        left: 119px;
        width: 9px;
    }
}
